/* Banner */
.banner {
  background-image: url(img/banner.jpg);
  height: 60vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
}
.banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 129, 143, 0.4);
}
.banner h2 {
  color: #ffff;
  z-index: 1;
  padding: 20px 25px;
}
section {
  padding: 50px 0;
}
/* Akhir Banner */

/* Navbar */
nav {
  background-color: #e3f2fd;
}
.nav-link {
  color: white;
}
/* Akhir Navbar */

/* About */
#about {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 25px;
}
/* Akhir About */

/* Doctors */
#doctors {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 25px;
}
/* Akhir Doctors */

/* Contact */
#contact {
  text-align: center;
}
/* Akhir Contact */

/* Footer */
footer {
  padding: 20px 0;
  background-color: lightseagreen;
  color: #ffff;
  text-align: center;
}
/* Akhir Footer */
